body {
  background-color: rgba(37, 43, 67, 255);
}

.CompanyName h2 {
  font-family: cursive;
  font-weight: 600;
}
header {
  color: white;
  display: flex;
  justify-content: space-evenly;

  align-items: center;
}

.nav-items ul li a {
  color: white;
  text-decoration: none;
  font-family: cursive;
}

.nav-items ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px;
}

.buttons-div {
  display: flex;
  gap: 40px;
}
#btn1 {
  color: white;
  cursor: pointer;
}

#btn1:hover {
  background-color: #21a5ee;
  border-radius: 2px;
}
#btn2 {
  background-color: #21a5ee;
  border: none;
  padding: 5px;
  border-radius: 2px;
  color: white;
  height: 50px;
  width: 90px;
  font-weight: 600;
  font-family: cursive;
  cursor: pointer;
  letter-spacing: 0.2px;
}

#btn1 {
  background-color: transparent;
  color: white;
  font-family: cursive;
  border: none;
}

.left-side {
  width: 600px;
}

.right-side {
  width: 600px;
  position: relative;
  margin: 50px;
}

/* child ------> absolute */

.middle-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#msg {
  color: #21a5ef;
  font-weight: 800;
  font-family: cursive;
}

#title-txt {
  color: white;
  font-family: cursive;
  font-size: 41px;
  letter-spacing: 3px;
}

#long-txt {
  color: white;
  font-family: cursive;
  font-weight: 300;
}

#left-btn-1 {
  background-color: #21a5ef;
  border: none;
  padding: 5px;
  height: 50px;
  color: white;
  font-weight: bold;
  width: 150px;
  cursor: pointer;
}

#left-btn-2 {
  background-color: transparent;
  border: 2px solid #21a5ef;
  padding: 5px;
  height: 50px;
  color: #21a5ef;
  font-weight: bold;
  width: 150px;
  cursor: pointer;
}

.color-div {
  height: 150px;
  width: 150px;
  background-color: #5aaca8;
}

.right-image1 img {
  width: 400px;
  
}

.right-image2 img {
  width: 300px;
}

.color-div {
  position: absolute;
  left: 300px;
}

.right-image1 {
  position: relative;
}

.right-image2 {
  position: relative;
  bottom: 150px;
  left: -90px;
  border-radius: 5px;
}

.right-image2 img {
  border: 10px solid white;
  border-radius: 5px;
}
