@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playwrite+AU+NSW:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
     font-family: "Libertinus Serif", serif;
}
.myhome{
    color: red !important;
}

.heroslider img{
    height: 100vh;
}
.heroslider .myherocontent h2{
    font-size: 66px;
    color: #fff;
}
.heroslider .myherocontent p{
    color: #fff;
}

.heroslider .carousel-caption{
    left: 20%;
    top: 35%;
    text-align: left;
}
.bestimg .bestcircl{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f84712;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 36px;
}
.iconbox i{
    color: #f84712;
    font-size: 36px;
}
.bestlast{
    background-color: aliceblue;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bestapartment{
    padding: 85px 0;
}


@media (min-width:320px) and (max-width:480px) {
    .bestcircl{
        left: 50px;
    }
}