*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url("https://cdn.pixabay.com/photo/2020/01/14/15/41/fields-4765322_1280.jpg");
   background-repeat: no-repeat;
    background-size: cover;
}

.right-part ul li{

        list-style-type: none;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
}

.right-part ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}

.right-part ul li a button{

        padding: 10px;
        border-radius: 2px;
        border: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(149, 176, 187, 0.036);
    padding: 20px 20px;
}

/* Home page */

.home-page{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 80vh;
}

.home-page h1{
        font-size: 60px;
         
}

.home-page p{
        font-size: 20px;
}

.home-page button{

        padding: 10px;
        border: none;
        border-radius: 5px;
}
 