
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mozilla+Headline:wght@200..700&family=Playwrite+AU+NSW:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Mozilla Headline", sans-serif;
}
.menuicon i{
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 50%;
}
.herosection{
    background-color: blue;
    color: #fff;
    padding: 85px 0;
}
.herosection img{
        width: 100%;
    height: 375px;
    border-radius: 10px;
}
.storycontent h4{
    font-size: 12px;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.storycontent h4 div{
    border: 2px solid red;
    width: 50px;
    margin: 5px;
}
.storycontent h1{
    font-size: 26px;
    padding: 10px;
}
.tabstory ul{
    background-color: rgb(218, 220, 220);
    padding: 10px;
    text-align: center;
}
.tabstory .nav-link.active{
    background-color: blue !important;
    color: #fff !important;
}
.storyimg img{
    height: 400px;
}
.headingpart p{
    font-size: 13px;
}
.servicebox{
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.iconservice{
    border: 1px solid grey;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicebox:hover .iconservice{
    background-color: blue;
    color: #fff;
}
.iconservice i{
    font-size: 30px;
    padding: 10px;
    margin: 5px;
}
.servicebox h1{
    font-size: 26px;
}
.servicebox p{
    font-size: 13px;
}